#app-container {
    height: 100%;
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mirror-input {
    width: 300px;
    margin: 10px 0;
    padding: .25em;

    outline: none;
    font-size: 1.25em;

    border: solid 2px #c0c0c0;
    border-radius: 5px;
}

    .mirror-input:focus {
        border-color: DeepSkyBlue;
    }

    .mirror-input:disabled {
        opacity: .8;
    }
